[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djongo = "*"
mongoengine = "*"
django-crispy-forms = "*"
djangotoolbox = "*"
importlib = "*"
psycopg2 = "*"
pillow = "*"
paytmchecksum = "*"
crypto = "*"

[requires]
python_version = "3.8"
