option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "dApp.settings"
    "PYTHONPATH": "/opt/python/current/app/dApp:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: dApp/dApp/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:environment:proxy:staticfiles":
    "/static/": "www/static/"