{% extends 'template.html' %}
{% load static %}
{% block extrahead %}
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }


    </script>
    <script>

        $(document).ready(function () {
            $('.close1').on('click', function () {
                {#console.log('clicked');#}
                var id = $(this).closest("tr").attr('id');
                var tp = document.getElementById('totalPrice').innerText;
                console.log("tp=" + tp);
                var inde = $(this).closest("tr").attr('tabid');
                var currPrice = $(this).closest("tr").attr('price');
                {#console.log(tp-currPrice);#}
                $(this).closest("tr").remove();
                var url = window.location.origin + '/delete/';
                $("#costname li").eq(inde).remove();
                $.ajax({
                    url: url + id, async: true, success: function (result) {
                        console.log(result);
                        console.log(currPrice + "::" + tp);
                        $("#totalPrice").text(tp - currPrice);
                        $("#totalCount").text(function (i, origText) {
                            return origText - 1;
                        });
                    }
                });
            });

        });
    </script>
    <link rel="stylesheet" href="{% static 'css/shop.css' %}" type="text/css"/>
    <!--//Shopping cart-->
    <!--checkout-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/checkout.css' %}">
{% endblock %}

{% block content %}
    <!-- top Products -->
    <section class="checkout py-lg-4 py-md-3 py-sm-3 py-3">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <div class="shop_inner_inf">
                <div class="privacy about">
                    <h3>Chec<span>kout</span></h3>
                    <div class="checkout-right">
                        <h4>Your shopping cart contains: <span id="totalCount">{{ items|length }}</span> Products</h4>
                        <table class="timetable_sub">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Product Name</th>
                                <th>Product Size</th>
                                <th>Price</th>
                                <th>Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in items %}
                                <tr class="rem1" id="{{ item.id }}" tabid="{{ forloop.counter0 }}"
                                    price="{{ item.product.price }}">
                                    {% with img=images|index:forloop.counter0 %}
                                        <td class="invert-image"><a href="single.html"><img src="{{ img.image.url }}"
                                                                                            alt=""
                                                                                            class="img-responsive"></a>
                                        </td>
                                    {% endwith %}
                                    <td class="invert">
                                        <div class="quantity">
                                            <div class="quantity-select">
                                                <div class="entry value-minus">&nbsp;</div>
                                                <div class="entry value"><span>1</span></div>
                                                <div class="entry value-plus active">&nbsp;</div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="invert">{{ item.product.name }}</td>
                                    <td class="invert">{{ item.size }}</td>
                                    <td class="invert">Rs. {{ item.product.price }}</td>

                                    <td class="invert">
                                        <div class="rem">
                                            <div class="close1"></div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="checkout-left">
                        <div class="col-md-4 checkout-left-basket">
                            <ul id="costname">
                                {% for item in items %}
                                    <li>{{ item.product.name }} <span>Rs. {{ item.product.price }} </span></li>
                                {% endfor %}
                                <li class="totalClass">Total <span
                                        id="totalPrice">{{ totalPrice }}</span><span>Rs. </span></li>

                            </ul>

                        </div>
                        <div class="col-md-8 address_form">
                            <h4 class="font-weight-bold">Add Details</h4>
                            <form action="{% url 'payment_confirmation' %}" method="post"
                                  class="creditly-card-form agileinfo_form">
                                {% csrf_token %}
                                <section class="creditly-wrapper wrapper">
                                    <div class="information-wrapper">
                                        <div class="first-row form-group">
                                            <div class="controls">
                                                <label class="control-label">Full name: </label>
                                                <input class="billing-address-name form-control" type="text" name="name"
                                                       placeholder="Full name" required/>
                                            </div>
                                            <div class="card_number_grids">
                                                <div class="card_number_grid_left">
                                                    <div class="controls">
                                                        <label class="control-label">Mobile number:</label>
                                                        <input class="form-control" type="text"
                                                               placeholder="Mobile number" name="number">
                                                    </div>
                                                </div>
                                                <div class="card_number_grid_right">
                                                    <div class="controls">
                                                        <label class="control-label">Address: </label>
                                                        <input class="form-control" type="text" placeholder="Address" name="address">
                                                    </div>
                                                </div>
                                                <div class="card_number_grid_right">
                                                    <div class="controls">
                                                        <label class="control-label">Landmark: </label>
                                                        <input class="form-control" type="text" placeholder="Landmark" name="landmark">
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                            <div class="controls">
                                                <label class="control-label">Town/City: </label>
                                                <input class="form-control" type="text" placeholder="Town/City" name="city">
                                            </div>
                                            <div class="checkout-right-basket">
                                                <button>Make a Payment</button>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- //top products -->
        </div>
    </section>

    <!--js working-->
    <script src='{% static 'js/jquery-2.2.3.min.js' %}'></script>
    <!--//js working-->
    <!-- cart-js -->
    <script src="{% static 'js/minicart.js' %}"></script>
    <script>
        toys.render();

        toys.cart.on('toys_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    <!--// cart-js -->
    <!--quantity-->
    <script>
        $('.value-plus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) + 1;
            divUpd.text(newVal);
        });

        $('.value-minus').on('click', function () {
            var divUpd = $(this).parent().find('.value'),
                newVal = parseInt(divUpd.text(), 10) - 1;
            if (newVal >= 1) divUpd.text(newVal);
        });
    </script>
    <!--quantity-->
    <!--closed-->



    <!--//closed-->
    <!-- start-smoth-scrolling -->
    <script src="{% static 'js/move-top.js' %}"></script>
    <script src="{% static 'js/easing.js' %}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <!-- start-smoth-scrolling -->
    <!-- here stars scrolling icon -->
    <script>
        $(document).ready(function () {

            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
            };
            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!--bootstrap working-->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- //bootstrap working-->
{% endblock %}