{% extends 'template_index.html' %}
{% block content %}
    {% load static %}
    <!--/ab -->
    <section class="about py-md-5 py-5">
        <div class="container-fluid">
            <div class="feature-grids row px-3">
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd row">
                        <div class="icon-gd col-md-3 text-center"><span class="fa fa-truck" aria-hidden="true"></span>
                        </div>
                        <div class="icon-gd-info col-md-9">
                            <h3 class="mb-2">FREE SHIPPING</h3>
                            <p>On all orders</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd row bottom-gd2-active">
                        <div class="icon-gd col-md-3 text-center"><span class="fa fa-bullhorn"
                                                                        aria-hidden="true"></span></div>
                        <div class="icon-gd-info col-md-9">
                            <h3 class="mb-2">FREE RETURN</h3>
                            <p>On 1st exchange in 30 days</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd row">
                        <div class="icon-gd col-md-3 text-center"><span class="fa fa-gift" aria-hidden="true"></span>
                        </div>

                        <div class="icon-gd-info col-md-9">
                            <h3 class="mb-2">MEMBER DISCOUNT</h3>
                            <p>Register & save up to 30%</p>
                        </div>

                    </div>
                </div>
                <div class="col-lg-3 gd-bottom">
                    <div class="bottom-gd row">
                        <div class="icon-gd col-md-3 text-center"><span class="fa fa-usd" aria-hidden="true"></span>
                        </div>
                        <div class="icon-gd-info col-md-9">
                            <h3 class="mb-2">PREMIUM SUPPORT</h3>
                            <p>Support 24 hours per day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //ab -->
    <!--/ab -->
    <section class="about py-5">
        <div class="container pb-lg-3">
            <h3 class="tittle text-center">Our Variety</h3>
            <div class="row">
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="{% static 'images/s1.jpg' %}" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'shop' 'Shoes' %}">Shoes </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="../static/images/s2.jpg" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'shop' 'Loafers' %}">Loafers </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="../static/images/s3.jpg" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'shop' 'Ballerinas' %}">Ballerinas </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men my-lg-4">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="../static/images/s4.jpg" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'shop' 'Heels' %}">Heels & Wedges</a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men my-lg-4">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="../static/images/s5.jpg" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'shop' 'Bellies' %}">Bellies </a>
                            </h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 product-men my-lg-4">
                    <div class="product-shoe-info shoe text-center">
                        <div class="men-thumb-item">
                            <img src="../static/images/s6.jpg" class="img-fluid" alt="">
                            <span class="product-new-top">New</span>
                        </div>
                        <div class="item-info-product">
                            <h4>
                                <a href="{% url 'shop' 'Flats' %}">Flats </a>
                            </h4>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- //ab -->

    <!--/ab -->
    <section class="about py-5">
        <div class="container pb-lg-3">
            <h3 class="tittle text-center">Popular Products</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img src="{{ images.1 }}" class="img-fluid" alt="">
                                    <div class="shop-now"><a href="{% url 'shopsingle' prod.1.slug %}" class="btn">Shop
                                        Now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-lg-4">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img src="{{ images.2 }}" class="img-fluid" alt="">
                                    <div class="shop-now"><a href="{% url 'shopsingle' prod.2.slug %}" class="btn">Shop
                                        Now</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img src="{{ images.2 }}" class="img-fluid" alt="">
                                    <div class="shop-now"><a href="{% url 'shopsingle' prod.2.slug %}" class="btn">Shop
                                        Now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-lg-4">
                            <div class="product-shoe-info shoe text-center">
                                <div class="men-thumb-item">
                                    <img src="{{ images.1 }}" class="img-fluid" alt="">
                                    <div class="shop-now"><a href="{% url 'shopsingle' prod.1.slug %}" class="btn">Shop
                                        Now</a></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- //ab -->
    <!-- brands -->
    <section class="brands py-5" id="brands">
        <div class="container py-lg-0">
            <div class="row text-center brand-items">
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-connectdevelop" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-empire" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-ioxhost" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3">
                    <a href="#"><span class="fa fa-first-order" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3 mt-sm-0 mt-4">
                    <a href="#"><span class="fa fa-joomla" aria-hidden="true"></span></a>
                </div>
                <div class="col-sm-2 col-3 mt-sm-0 mt-4">
                    <a href="#"><span class="fa fa-dropbox" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </section>
    <!-- brands -->

{% endblock %}