{% extends 'template.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>DreamWalk E-Commerce</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="DreamWalk Footwear" />
    <script>
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->


    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <style type="text/css">
    </style>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>

</head>


<!--//main-content-->




<body>
{% block content %}
<div class="main-content container">
            <div class="row">
                <div class="col-md-4">
                    <div >
                        <img src="{% static 'images/user.png' %}"  alt="Avatar">

                    </div>
                    <div class="w3-container">

                    {% if user.is_authenticated %}

                        <p><i class="fa fa-user fa-fw icons"></i>{{ user.get_username }}</p>
                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.first_name }} {{ user.last_name }}</p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.address}}</p>
                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.email }}</p>
                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>

                    {% endif %}

                </div>
            </div>
            <div class="col-md-8">
                <br>
                <div >
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Orders</h2>
                </div>

                {% for i in results %}
                    {{ i }}
                {{ i.0.OrderId }}
                {% endfor %}
            </div>
</div>
</div>
{#<body class="w3-light-grey">#}
{#<div class="w3-content w3-margin-top">#}
{##}
{##}
{#    <div class="w3-row-padding">#}
{#        <div class="w3-third">#}
{#            <div class="w3-white w3-text-grey w3-card-4">#}
{#                <div class="w3-display-container">#}
{#                    <img src="{% static 'images/user.png' %}"  alt="Avatar">#}
{##}
{#                </div>#}
{##}
{#                <div class="w3-container">#}
{##}
{#                    {% if user.is_authenticated %}#}
{##}
{#                        <p><i class="fa fa-user fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.get_username }}</p>#}
{#                        <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.first_name }} {{ user.last_name }}</p>#}
{#                        <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.address}}</p>#}
{#                        <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>{{ user.email }}</p>#}
{#                        <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>1224435534</p>#}
{##}
{#                    {% endif %}#}
{##}
{#                </div>#}
{#            </div><br>#}
{#            <!-- End Left Column -->#}
{#        </div>#}
{##}
{#        <!-- Right Column -->#}
{#        <div class="w3-twothird">#}
{##}
{#            <div class="w3-container w3-card w3-white w3-margin-bottom">#}
{#                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Orders</h2>#}
{#                <div class="w3-container">#}
{##}
{##}
{#                    <h5 class="w3-opacity"><b></b></h5>#}
{#                    {% for i in results %}#}
{##}
{#                        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{ i.OrderId }} </h6>#}
{#                    {% endfor %}#}
{##}
{#                    <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>#}
{#                    <hr>#}
{#                </div>#}
{#            </div>#}
{#            <!-- End Right Column -->#}
{#        </div>#}
{#        <!-- End Grid -->#}
{#    </div>#}
{#    <!-- End Page Container -->#}
{#</div>#}


{% endblock %}
</body>
</html>
