{% extends 'template.html' %}
{% load static %}

{% block content %}
<div class="main-content container">
    <div class="row">
        <div class="col-md-1">
            <br><br>
        </div>
        <div class="col-md-11">
            <header class="page-header">
                <br><br>
                <h2>
                    <span>
                      RETURN POLICY
                    </span>
                </h2>
            </header>
            <br><br>
            <div style="text-align: center;"><u><strong></strong></u></div>
            <p style="font-size: 16px;">&nbsp;</p>

            <div class="yj6qo ajU"></div>
            <p style="font-size: 16px;"><strong><span style="color: #ff2a00;">ALL ITEMS BOUGHT FROM THE CLEARANCE SALE SECTION ARE NOT ELIGIBLE FOR RETURN/ EXCHANGE/ REFUNDS!&nbsp;</span></strong>
            </p>
            <p style="font-size: 16px;"><span
                    style="text-decoration: underline;color:#3c3c3c;  "><strong>Easy Returns</strong></span></p>
            <p style="color: #0c0c0c">Our return policy lasts 10 days from the date of purchase, No Questions Asked
                :-)</p>
            <p style="color: #0c0c0c"><br>To complete your return/exchange, Please raise a return request on our portal
                along with the receipt or proof of purchase. After receiving the same, we will validate & schedule a
                reverse pickup from your shipping address & our courier pickup partner will contact you for picking the
                product back.</p>

            <p style="font-size: 16px;"><span style="text-decoration: underline;color:#3c3c3c;  "><strong>Exchange (if applicable)</strong></span>
            </p>
            <p style="color: #0c0c0c">If 10 days have gone by, though, we will not be able to offer you a return/refund
                but we still can exchange your product till 20 days from the date of purchase.</p>

            <br><strong><u>Eligible for Return</u></strong></p>
            <ul>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span>Your item must be unused &amp; in the same condition in which you received it.
                </li>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span>It should be in its original packaging accompanied by a proof of purchase.
                </li>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span>Any item not in its original condition is damaged or missing parts for reasons not due
                    to our error will not be exchanged
                </li>
            </ul>

            <p style="font-size: 16px;"><span style="text-decoration: underline;color:#3c3c3c;  "><strong>Refunds (If Applicable)</strong></span>
            </p>
            <p style="color: #0c0c0c">Once your return is received, we will inspect the same.<br> <strong>If its
                approved,</strong> then your refund will be processed asap, and a credit amounting to your invoice
                amount, wil automatically be initiated to your original method payment. A notification will be sent to
                you confirming the same.</p>
            <strong>In case of rejection,</strong> We will notify you via your registered email of mobile no. You can
            contact us back for any further communication.</p>

            <p style="font-size: 16px;"><span style="text-decoration: underline;color:#3c3c3c;  "><strong>Late or missing refunds (if applicable)</strong></span>
            </p>
            <p style="color: #0c0c0c"><em style="color: #B12704">*</em> It depends on the banks or cards, the time they
                take for processing the refund once after getting confirmation from our end.</p>
            <p style="color: #0c0c0c"> However, in case of non-receipt of the same post 15 days after the approval,
                Please follow the following steps:</p>

            <ul>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span>Check your bank account again
                </li>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span>Contact your bank or Credit Card issuing authority, it may take some time before your
                    refund is officially posted
                </li>
            </ul>


            <p style="color: #0c0c0c">If you have done all of this and you still have not received your refund yet, please
                contact us at <strong>dreamwalk.info@gmail.com</strong></p>

            <p style="font-size: 16px;"><span
                    style="text-decoration: underline;color:#3c3c3c;  "><strong>Warranty</strong></span></p>
            <p style="color: #0c0c0c"> We really care about our Customers & their product experience, therefore we offer
                a 3 months warranty from the date of purchase.</p>
            <p style="color: #0c0c0c"> There are be 2 types of Warranty:</p>
            </ul>
            <ul>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span><strong>Manufacturing Warranty:</strong> this will be applicable in case of any
                    manufacturing defects like stitching, pasting,material defect etc.
                </li>
                <li style="color: #0c0c0c ;font-size: 14px;">
                    <span></span><strong>Experience Warranty:</strong> this will be applicable in case your experience
                    with the product usage is not so good after using it for a certain time within 3 months.
                </li>

            </ul>

            <p style="color: #0c0c0c"><strong>In both these cases, we will offer an exchange of the same product or any
                other product that you choose from our catalog having the same invoice value as your original
                invoice.</strong></p>

            <p style="color: #0c0c0c">You will have to follow the exchange process as mentioned above, however, in this
                case the reverse & forward shipping costs will be borne by you.</p>

            <p style="color: #0c0c0c">Depending on where you live, the time it may take for your exchanged product to
                reach you may vary.</p>

            <p style="font-size: 16px;"><span style="text-decoration: underline;color:#3c3c3c;  "><strong>Cancellations and Modifications</strong></span>
            </p>
            <p style="color: #0c0c0c"> You can cancel your orders before its shipped by clicking on CANCEL ITEM or
                contacting us, the full invoice amount will be refunded to your original payment method. Once the item
                is shipped it cannot be cancelled. </p>

            <p style="color: #0c0c0c"><strong> Can I modify the shipping address of my order after it has been
                placed?</strong></p>

            <p style="color: #0c0c0c">Yes, You can modify the shipping address of your order before we have processed
                (packed) it, by updating it under 'change address' option which is available under My order' section or
                by contacting us.</p>

        </div>
    </div>
</div>
{% endblock %}